.product-container {
  display: flex;
  height: max-content;
  margin-left: 20px;
  margin-top: 10px;
}
.product-image {
  background-color: #f7f7f7;
  height: 260px;
  width: 300px;
}
.product-image img {
  padding-top: 15px;
  /* padding-left: 10px; */
}
.product-description {
  width: 70%;
  padding-left: 20px;
}
.rating-star {
  padding-top: 8px;
  width: max-content;
  display: inline-block;
}
.product-description h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}
.option-button {
  margin-bottom: 5px;
  margin-top: 15px;
  width: 95px;
  height: 35px;
  border-radius: 8px;
  border-width: 1px;
  border-color: #d5d9d9;
  background-color: #ffffff;
  border-style: solid;
  cursor: pointer;
}
.cart-button{  margin-bottom: 5px;
  margin-top: 15px;
  width: 95px;
  height: 35px;
  border-radius: 15px;
  border-width: 1px;
  border: none;
  background-color: #ffd814;
  cursor: pointer;
}
.price-tag {
  font-size: xx-large;
  font-weight: 500;
}
.offer {
  color: #7d8188;
}
.past-record {color:#7d8188 ;}
.label {display: flex;  width: 120px;height: max-content;background-color: #e67a00;}
.label >div{margin-left: 7px; width: 120px;height: 25px;background-color: #002f36;}
.label span {color: white;padding-left: 8px;}
